.create-accident {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
  margin-right: 15px;
  width: 100%;
}

agm-map {
  width: 100%;
  height: 450px;
  padding-right: 20px;
}

.input-form {
  display: block;
  width: 100%;
  padding: 5px 10px 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  border: 0px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2), 0 0 2px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.actions-button{
  display: flex;
  justify-content: flex-end;
}

.latLng {
  display: flex;
  justify-content: space-between;
}

