<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="changeTab($event)">
  <mat-tab *ngFor="let p of participants; let index = index" [label]="p.model">
    <div *ngFor="let passenger of passengersForSelectedParticipant()" class="passengers">
      <div class="row" (click)="openPassengerDialog(passenger)">
        <h4>{{index+1}}</h4>
        <h4>{{passenger.passenger.firstName}} {{passenger.passenger.lastName}}</h4>
        <h4 *ngIf="passenger.passenger.dateOfBirth">{{passenger.passenger.dateOfBirth | date: 'dd/MM/yyyy'}}</h4>
        <h4>{{getInjuredLevelName(this.passenger.injuredLevel)}}</h4>
      </div>
    </div>

    <button mat-icon-button (click)="openPassengerDialog(null)" [matTooltip]="'Add passenger'">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>

<mat-action-row>
  <button mat-button color="warn" (click)="prevStep()">Previous</button>
  <button mat-button color="primary" (click)="savePassengers()">Finish</button>
</mat-action-row>
