
<div class="page">

  <h2> Add Accident</h2>

  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accident data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <accident-create (saveAccidentEvent)="saveAccident($event)"></accident-create>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accident participants
        </mat-panel-title>
      </mat-expansion-panel-header>

      <participants-add *ngIf="step == 1"  (saveParticipantsEvent)="saveParticipants()"></participants-add>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add Passengers
        </mat-panel-title>
      </mat-expansion-panel-header>

      <passengers-add *ngIf="step == 2" (savePassengersEvent)="savePassengers()"></passengers-add>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accident documents
        </mat-panel-title>
      </mat-expansion-panel-header>

      <documents></documents>

    </mat-expansion-panel>
  </mat-accordion>


</div>
