<layout></layout>
<div class="page">

  <h2> Add Accident</h2>

  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accident data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <accident-create [accident]="accident"
                       (saveAccidentEvent)="saveAccident()"></accident-create>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accident participants
        </mat-panel-title>
      </mat-expansion-panel-header>

      <participants-add [participants]=participants
                        (saveParticipantsEvent)="saveParticipants()"></participants-add>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add Passengers
        </mat-panel-title>
      </mat-expansion-panel-header>

      <passengers-add [participants]="participants"
                      [passengers]="passengers"
                      (savePassengersEvent)="savePassengers()"></passengers-add>
    </mat-expansion-panel>
  </mat-accordion>


</div>
