<mat-icon [matTooltip]='"Close"' (click)='onCancel()'>close</mat-icon>
<form class="input-form" [formGroup]="passenger" (ngSubmit)="onSave()">
  <h4>Add passenger</h4>


  <button *ngIf="!data.addOwner" mat-icon-button (click)="addOwnerAsPassenger()" [matTooltip]="ownerTooltip">
    <mat-icon>person_add</mat-icon>
  </button>

  <person-create [person]="passenger"></person-create>
  <form [formGroup]="passenger">
    <mat-form-field class="mat-select">
      <mat-select formControlName="injuredLevel" placeholder="Injured">
        <mat-option *ngFor="let level of injuredLevels$ | async" [value]="level.id">
          {{level.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="driver">Driver</mat-checkbox>
  </form>

  <button mat-button type='button' class='mat-warn' (click)='onCancel()'>Cancel</button>
  <button mat-button type='submit' class='mat-primary'>Save</button>

</form>
