.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
  cursor: pointer;
}
.documents {
  margin-top: 45px;
  margin-right: 15px;
  width: 100%;
}

.thumbnail {
  margin-right: 1%;
  max-width: 250px;
  max-height: 180px;
}

.card {
  margin: 50px;
  width: 90%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2), 0 0 2px rgba(0, 0, 0, .1);
}

.gallery-button{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}
