
<mat-drawer-container autosize [hasBackdrop]='true'>
  <mat-drawer #drawer [mode]='"over"'>
    <h3>Filters</h3>
    <form [formGroup]='filters'>
      <div class='column'>
        <mat-form-field class='date-filter'>
          <input matInput [ngxMatDatetimePicker]='from' placeholder='From date' formControlName='from'>
          <mat-datepicker-toggle matSuffix [for]='from'></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #from [showSpinners]='true'
                                   [stepHour]='1' [stepMinute]='5'>
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field class='date-filter'>
          <input matInput [ngxMatDatetimePicker]='to' placeholder='To date' formControlName='to'>
          <mat-datepicker-toggle matSuffix [for]='to'></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #to [showSpinners]='true'
                                   [stepHour]='1' [stepMinute]='5'>
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class='apply-button'>
        <button mat-stroked-button class='mat-primary'>Apply</button>
      </div>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <div class='page'>
      <span class='name'>Analytics</span>
      <div>
        <button type='button' mat-icon-button [matTooltip]='"Filters"' (click)='drawer.toggle()'>
          <mat-icon>chevron_right</mat-icon>
        </button>
        <div class='row'>
          <div class='column'>
            <google-chart *ngIf='chartDataDateGrouped$ | async as chart'
                          [type]='tableChart'
                          [title]='"Accidents count by Date"'
                          [data]='chart'
                          [width]='400'
                          [height]='800'
                          [options]='options'></google-chart>
          </div>
          <div class='column'>
            <div class='row' style='margin-left:100px;'>
              <div class='column'>
                <span>Accidents count by City</span>
                <google-chart *ngIf='chartDataCityGrouped$ | async as chart'
                              [type]='geoChart'
                              [data]='chart'
                              [width]='600'
                              [height]='600'
                              [options]='geoOptions'></google-chart>
              </div>
              <google-chart *ngIf='chartDataAccidentAgeSeries$ | async as chart'
                            [type]='pieChart'
                            [title]='"Passengers age series"'
                            [data]='chart'
                            [width]='600'
                            [height]='600'
                            [options]='options'></google-chart>
            </div>
            <div class='row'>
              <google-chart *ngIf='chartDataAccidentTimeSeries$ | async as chart'
                            [type]='lineChart'
                            [title]='"Accidents Time series"'
                            [data]='chart'
                            [width]='1450'
                            [options]='options'></google-chart>

            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
