<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="changeTab($event)">
  <mat-tab *ngFor="let participant of participants; let index = index" [label]="participant.type || 'New participant'">
    <div class="add-participant">
      <participant-create class="input-form" [participantForm]="participantForm"></participant-create>

     <person-create class="input-form" [person]="ownerForm"></person-create>

    </div>

    <div class="participants-actions">
    <button mat-icon-button class="mat-warn"
            (click)="removeTab(index)">
      <mat-icon>delete_outline</mat-icon>
    </button>

    <button mat-icon-button (click)="addTab()" [matTooltip]="'Add p'">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="saveParticipants()">Next</button>
    </mat-action-row>
  </mat-tab>

</mat-tab-group>
